* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #693b1c;
}
/******Formatações em geral*********/
button{
    background-color: #B17E1F;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

span{
    color: #B17E1F;
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}


/******Formatações em geral*********/

/* Formatando o TOPO */
.topNavImage{
    background: #000 url(../../module_assets/assets/images/topNav.jpg) no-repeat left;
     height: 200px;
      width: 600px;
    background-size: cover;
    background-position: right
}
.topo{
    background: #000 url(../../module_assets/assets/images/pizzaBgOp2.jpg) no-repeat left;
    background-attachment: fixed;
    height: 95vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo:hover{
    color:  #B17E1F;
    transition: .4s;
}

.logo2:hover{
    color: white;
    transition: .4s;
}

.contactPage{
    color:  #B17E1F;
}

.menu{
    display: flex;
    align-items: center;
    background-attachment: scroll;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    text-shadow:2px 2px 4px #000000;
    font-weight: bold;
    text-transform: capitalize;
}

.menu ul li .focusPage{
  color: #B17E1F;
}

.menu ul li a:hover {
    color: #B17E1F;
    transition: .4s;
}

.btn{
    background-color: #B17E1F;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}

.sobre {
    width: 100%;
    padding: 55px 0px;
    background-color: #141414; /* #141414 da pra usar tb  */
}
.card{
    height: 400px;
    width: 400px;
    padding: 20px 20px;
    background: #191919;
    border-radius: 200px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 10px 0px;
    color: #B17E1F;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pras p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color:  #B17E1F;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 50px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid  #B17E1F;
    cursor: pointer;
}

/****** fim sobre ********/
.main {
    width: 80%;
    margin-left: 6%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 75% 28%;
    grid-gap: 50px;
    height: 150vh;
    
  }
  
  @media (max-width: 700px) {
    .main {
      width: 100%;
      margin-top: 100px;
      display: grid;
      grid-template-columns: 100%;
      margin-left: 0;
    }
  }
  
  .main .side-left article {
    background-color: #101010;
    display: flex;
    border-radius: 11px;
    box-shadow: 1px 4px 7px 0px #80808063, 1px 1px 0px 0px #80808063;
    padding-right: 24px;
    margin-bottom: 50px;
  }
  
  @media (max-width: 700px) {
    .main .side-left article {
      width: 95vw;
      padding: 0;
      display: grid;
      justify-items: center;
    }
    .main .side-left {
      margin-left: -7;
    }
  }
  
  .main .side-left article:hover {
    transform: scale(1.05);
  }
  
  .main .side-left article .image {
    width: 19vw;
    height: 203px;
  }
  
  .main .side-left article .image img {
    width: 100%;
    height: 100%;
    border-radius: 11px 0 0 11px;
  }
  
  .main .side-left article .info {
    padding: 0 0 21px 43px;
  }
  
  .main .side-left article .info h2 {
    font-family: "Yellowtail", cursive;
    color:white;
    font-weight: 400;
    font-size: 24px;
  }
  
  .main .side-left article .info span {
    position: absolute;
    left: 38vw;
    color: white;
    bottom: 504px;
  }
  
  .main .side-left article .info .desc {
    color: white;
    font-size: 15px;
  }
  
  .main .side-left article .info a {
    text-decoration: none;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
  } 

  .main .side-left article .info a:hover {
    color: #B17E1F;
  } 

  
  .main .side-right .search .icone {
    position: absolute;
    right: 10.3vw;
    top: 111px;
  }  
  
  .main .side-right .search input {
    width: 21vw;
    border-radius: 17px;
    padding: 10px;
    border: 1px solid #999;
    outline-width: 0;
    padding-left: 17px;
    border: 2px solid #ced4da;
  }
  
  @media (max-width: 700px) {
    .main .side-right .search {
      position: absolute;
      top: 33px;
      left: 13vw;
      width: 74%;
    }
    .main .side-right .search input {
      width: 100%;
    }
    .main .side-right .search .icone {
      position: relative;
      left: 92%;
      top: -29px;
    }
  }
  
  .main .side-right .categories h2{
    color: white;
    border-bottom: 1px solid #dedede;
    padding-top: 15px;
    font-size: 21px;
    font-family: cursive;
  }
  
  .main .side-right .categories p {
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -3px;
    padding: 0px 0 0 28px;
  }
  
  .main .side-right .categories p .icon {
    position: absolute;
    right: 28.7vw;
  }
  
  .main .side-left .pages {
    position: absolute;
    margin-top: 26px;
    left: 6%;
    padding-bottom: 40px;
  }

  .main .side-left .pages span {
    border: 1px solid #ccc;
    border-radius: 50%;
    color: white;
    background-color: #000;
    padding: 14px 18px;
    margin-right: 4px;
    cursor: pointer;
  }
  
  .main .side-left .pages span:hover {
    background-color: transparent;
  }
 
/*********** COntato **********/
.contactMe{
    width: 100%;
    height: 400px;
    background: #B17E1F;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contactMe p{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contactMe .button-two {
    background-color: #000;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .4s;
}

.contactMe .button-two:hover {
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
}

/************ Horario ***********/

.horario{
    width: 100%;
    height: 350px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bghorario{
    background: url(../../module_assets/assets/images/pizzabgtwo.jpg) no-repeat center;
    background-attachment: fixed;
}

.horario h2{
    margin-bottom: 20px;
    color: #B17E1F;
    font-weight: bolder;
    font-size: 40px;
}

.horario p{
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

.horario .button-two {
    background-color: #000;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 30px;
    transition: .4s;
}

.horario .button-two:hover {
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
}

/********** FOOTER ************/
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 30px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B17E1F;
    border-radius: 30px;
    margin:22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: #B17E1F;
    font-size: 14px;
    bottom: 35px;
}